*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #2281;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

button{
    padding: 10px;
    color: white;
    background-color: rgb(59, 79, 110);
    border-radius:10px;
    border: none;
    font-size: medium;
}

.mainn{
    display: flex;
    padding: 100px;
    justify-content: space-evenly;
}

.m-p{
    padding-bottom: 30px;
    letter-spacing: 10px;
    font-size: 2.5rem; 
}

.text-box{
    padding: 150px;
    text-align: justify;
    font-size: 1.3rem;
    color: white;
}

.pass{
    padding-bottom: 50px;
    font-size: 27px;
}
.view{
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: medium;
}
.get{
    border-radius: 10px;
    border: none;
    padding: 15px;
    font-size: medium;
}

.abt-desc{
    padding: 20px;
    font-size: 1.2rem;
    margin: 70px;
    color: white;
}

.abt-desc h2{
    padding-bottom: 30px; 
    text-align: center; 
}

.abt-desc p{
    padding-top: 10px;
    padding-bottom:10px ;
    /* line-height: 30px; */
    /* margin-bottom: 30px; */
}

.pwd{
    /* padding: 30px; */
    border-radius: 15px;
    text-align: center;
}
.pwd div{
    font-size: 1.4rem;
    padding: 30px;
    border-radius: 40px;
}

.skills{
    color: white;
    padding: 70px;
    padding-right: 70px; 
    padding-left: 70px;
}
.skills h2{
    text-align: center;
    padding-bottom: 50px;
    font-size: 28px;
}
.skills ul{
    display: grid;
    font-size: 20px;
}
.skills h5{
    font-size: 24px;
    padding-bottom: 25px; 
}
.exprnc{
    padding: 70px;
    color: white;
}
.proj.{
color: white;
padding: 50px;
display: flex;

}