*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

button{
    padding: 5px;
    color: white;
    background-color: aqua;
    border: none;
}